.tbody-row{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #222024;

}
.tbody-row td{
    display: flex;
    justify-content: center;
    width: 50%;
    flex-grow:1;
    background-color: #365B4B;
    border-bottom: solid black 1px;
}
#password{
    border-right: solid black 1px;
}

#hash{

    overflow: scroll;
    font-size: .8em;
    scrollbar-width: none;
    color: #ffffffaa;
}

.table-container{
    overflow-y: scroll;
    scrollbar-width: none;
}